@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-primary: #090714;
  --dark-secondary: #837F90;
  --light-primary: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--dark-primary);
  background: var(--light-primary);
  font-family: var(--font-space_grotesk), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.space_grotesk{
  font-family: var(--font-space_grotesk);
}